.usmap-layout {
  display: flex;
  justify-content: center;
}
.usmap-layout[hidden] {
  display: none;
}
path {
  pointer-events: auto;
  cursor: pointer;
}
svg:has(.fo-svg[data-mouseover="true"]) path {
  pointer-events: none;
}
